name: CI/CD
on:
  pull_request:
    branches: [main]
    paths:
      - "**.nix"
      - "flake.lock"
      - ".github/workflows/*.yml"
  push:
    branches: [main]
    paths:
      - "**.nix"
      - "flake.lock"
      - ".github/workflows/*.yml"
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    uses: ./.github/workflows/ci-common.yml
    with:
      mode: ci
    secrets:
      GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
  cd:
    needs: ci
    # 메인 브랜치 푸시 시에만 실행
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    uses: ./.github/workflows/ci-common.yml
    with:
      mode: cd
    secrets:
      GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      TS_OAUTH_CLIENT_ID: ${{ secrets.TS_OAUTH_CLIENT_ID }}
      TS_OAUTH_SECRET: ${{ secrets.TS_OAUTH_SECRET }}
      TS_DEST_IP: ${{ secrets.TS_DEST_IP }}
      SSH_HOST_KEY: ${{ secrets.SSH_HOST_KEY }}
      SSH_PUB_KEY: ${{ secrets.SSH_PUB_KEY }}
