name: CI
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  merge_group:
  workflow_run:
    workflows: ["Flake Update"]
    types:
      - completed
jobs:
  nix-check:
    runs-on: ubuntu-latest
    if: >
      github.event_name != 'workflow_run' ||  github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        # INFO : Temporaily Added for test
      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Flake check
        run: nix flake check --impure --no-build
      - name: Build homelab configuration
        run: nix build .#nixosConfigurations.homelab.config.system.build.toplevel --impure
        # TODO : Should be migrated to hashicorp vault
        # ../../secrets/ssh-public-key.txt 와 겹침
        env:
          SSH_PUB_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
