name: Deadnix
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths: ["**.nix", "flake.lock", ".github/**"]
  merge_group:
jobs:
  deadnix:
    name: Dead Code Check
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/nix-setup
        with:
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
      - run: nix-shell -p deadnix --run "deadnix --fail"
